.destino-detalle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destino-contenido {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.destino-izquierda {
  flex: 1;
  text-align: center;
}

.destino-imagen-container {
  margin-bottom: 10px;
}

.destino-imagen {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.destino-nombre {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.destino-derecha {
  flex: 2;
  text-align: left;
}

.destino-derecha h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.destino-derecha p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* cumple con lo modelado*/
