.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #8C4747;
  padding: 10px;
  color: white;
}

.logo img {
  width: 80px;
  height: 80px;
}

.header-content {
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.welcome-text {
  font-size: 1rem;
}

nav {
  background-color: #C73C3C;
  padding: 10px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #8C4747;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #D94242;
}

nav ul li:first-child a {
  background-color: #4D4D4D;
}

.center-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.text-section {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.text-section p {
  margin-bottom: 10px;
}

.text-section input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.text-section-empresas input {
  width: 50%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.entcompanies-section {
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.entcompanies-section h2 {
  font-size: 24px;
  color: #8C4747;
  margin-bottom: 20px;
}

.text-section-empresas p {
  font-size: 16px;
  color: #333;
}

.update-button {
  text-align: center;
  margin-top: 20px;
}

.update-button button {
  background-color: #8C4747;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.update-button button:hover {
  background-color: #D94242;
}

.red-bar {
  background-color: #C73C3C;
  height: 4px;
  margin: 20px 0;
}

mat-card-title{
  text-align: center;
  font-weight: bold;
}

.destination-container,
.mdestinations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.destination-box,
.mdestinations-box {
  background-color: #f7f7f7;
  padding: 20px;
  width: 180px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.destination-box h3,
.mdestinations-box h3 {
  font-size: 18px;
  color: #8C4747;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.destinations-section h2 {
  font-size: 24px;
  color: #8C4747;
  text-align: center;
  margin-bottom: 20px;
}

.image-text-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-section img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilos para el botón de regresar arriba */
.back-to-top2 {
  position: fixed;
  bottom: 30px; /* Distancia desde la parte inferior de la pantalla */
  right: 30px; /* Distancia desde la parte derecha de la pantalla */
  width: 50px; /* Ancho de la esfera */
  height: 50px; /* Altura de la esfera */
  background-color: black; /* Color de fondo de la esfera */
  color: white; /* Color de la flecha */
  border-radius: 50%; /* Hace la esfera redonda */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Tamaño de la flecha */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s; /* Transición suave al aparecer/desaparecer */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.back-to-top2.visible {
  opacity: 1; 
}
/*Cumple con el modelado*/
